Repository platzily/platzily-ui, pull requests merged in 2021-11, with the labels that each got.

#24 Hotfix 19
  packages/styling/package.json
Labels: bug, styling

#28 Feature 27 - Color Manipulator
  config/jest.config.js
  packages/docs/components/styling/ColorComponent.js
  packages/docs/components/styling/index.js
  packages/docs/package.json
  packages/docs/pages/colors.mdx
  packages/docs/pages/styling.mdx
  packages/styling/package.json
  packages/styling/src/colorManipulator/colorManipulator.d.ts
  packages/styling/src/colorManipulator/colorManipulator.js
  packages/styling/src/colorManipulator/colorManipulator.spec.js
  packages/styling/src/colorManipulator/index.d.ts
  packages/styling/src/colorManipulator/index.js
  packages/styling/src/createTheme/createTheme.js
  packages/styling/src/index.d.ts
  packages/styling/src/index.js
  packages/styling/src/theme/theme.d.ts
  packages/styling/src/theme/theme.js
Labels: feature, styling

#29 v0.1.2
  config/jest.config.js
  packages/docs/components/styling/ColorComponent.js
  packages/docs/components/styling/index.js
  packages/docs/package.json
  packages/docs/pages/colors.mdx
  packages/docs/pages/styling.mdx
  packages/styling/package.json
  packages/styling/src/colorManipulator/colorManipulator.d.ts
  packages/styling/src/colorManipulator/colorManipulator.js
  packages/styling/src/colorManipulator/colorManipulator.spec.js
  packages/styling/src/colorManipulator/index.d.ts
  packages/styling/src/colorManipulator/index.js
  packages/styling/src/createTheme/createTheme.js
  packages/styling/src/index.d.ts
  packages/styling/src/index.js
  packages/styling/src/theme/theme.d.ts
  packages/styling/src/theme/theme.js
Labels: documentation, feature, styling, docs

#33 feature-32 Update Colors in styling/theme
  packages/docs/package.json
  packages/docs/pages/colors.mdx
  packages/docs/pages/styling.mdx
  packages/styling/package.json
  packages/styling/src/createTheme/createTheme.d.ts
  packages/styling/src/createTheme/createTheme.js
  packages/styling/src/theme/theme.d.ts
  packages/styling/src/theme/theme.js
Labels: feature, styling

#30 Feature 15 - Button Component
  config/jest.config.js
  packages/components/package.json
  packages/components/src/Button/Button.d.ts
  packages/components/src/Button/Button.js
  packages/components/src/Button/Button.spec.js
  packages/components/src/Button/index.d.ts
  packages/components/src/Button/index.js
  packages/components/src/index.d.ts
  packages/components/src/index.js
  packages/docs/components/Button/Button.js
  packages/docs/components/Button/theme.js
  packages/docs/package.json
  packages/docs/pages/components/Button.mdx
  packages/styling/src/theme/theme.d.ts
  tsconfig.json
  webpack.config.js
Labels: feature, components

#31 Feature 14 - Header Component
  packages/components/package.json
  packages/components/src/Header/Header.d.ts
  packages/components/src/Header/Header.js
  packages/components/src/Header/Header.spec.js
  packages/components/src/Header/index.d.ts
  packages/components/src/Header/index.js
  packages/components/src/index.d.ts
  packages/components/src/index.js
  packages/docs/components/Header/Header.js
  packages/docs/components/styling/index.js
  packages/docs/pages/components/Header.mdx
Labels: documentation, feature, components

#38 feature-17 create text component to manipulate text easier
  packages/components/src/Header/Header.js
  packages/components/src/Text/Text.d.ts
  packages/components/src/Text/Text.js
  packages/components/src/Text/Text.spec.js
  packages/components/src/Text/index.d.ts
  packages/components/src/Text/index.js
  packages/components/src/index.d.ts
  packages/components/src/index.js
  packages/docs/components/Text/Text.js
  packages/docs/components/Text/theme.js
  packages/docs/pages/components/Text.mdx
  yarn.lock
Labels: feature, components

#43 feature-40 created Paper Component to container elements
  packages/components/package.json
  packages/components/src/Paper/Paper.d.ts
  packages/components/src/Paper/Paper.js
  packages/components/src/Paper/Paper.spec.js
  packages/components/src/Paper/index.d.ts
  packages/components/src/Paper/index.js
  packages/components/src/index.d.ts
  packages/components/src/index.js
  packages/docs/components/Paper/Paper.js
  packages/docs/package.json
  packages/docs/pages/components/Paper.mdx
  packages/docs/pages/styling.mdx
  packages/icons/package.json
  packages/styling/package.json
  packages/styling/src/createTheme/createTheme.js
  packages/styling/src/createTheme/createThemeSpacing.js
  packages/styling/src/theme/theme.d.ts
  packages/styling/src/theme/theme.js
  yarn.lock
Labels: feature, components

#77 Hotfix 75
  .github/workflows/deploy.yml
  packages/components/README.md
  packages/icons/README.md
Labels: bug, components, icons

#76 hotfix-75 Fixed pipeline to build new packages
  .github/workflows/deploy.yml
  packages/components/README.md
  packages/icons/README.md
Labels: bug, components, icons

#83 Feature 71 - useWindowDimensions
  .eslintrc.js
  package.json
  packages/components/package.json
  packages/docs/components/styling/UseWindowDimensionsStyledBox.js
  packages/docs/components/styling/index.js
  packages/docs/components/styling/theme.js
  packages/docs/package.json
  packages/docs/pages/_app.js
  packages/docs/pages/styling.mdx
  packages/styling/package.json
  packages/styling/src/index.d.ts
  packages/styling/src/index.js
  packages/styling/src/useWindowDimensions/index.d.ts
  packages/styling/src/useWindowDimensions/index.js
  packages/styling/src/useWindowDimensions/useWindowDimensions.d.ts
  packages/styling/src/useWindowDimensions/useWindowDimensions.js
  packages/styling/src/useWindowDimensions/useWindowDimensions.spec.js
  yarn.lock
Labels: styling, docs, weight:1

#84 Feature 70 - useOutsideClick
  packages/docs/pages/styling.mdx
  packages/styling/src/index.d.ts
  packages/styling/src/index.js
  packages/styling/src/useOutsideClick/index.d.ts
  packages/styling/src/useOutsideClick/index.js
  packages/styling/src/useOutsideClick/useOutsideClick.d.ts
  packages/styling/src/useOutsideClick/useOutsideClick.js
  packages/styling/src/useOutsideClick/useOutsideClick.spec.js
Labels: styling, weight:1

#85 Feature-63 - Modal Component
  packages/components/package.json
  packages/components/src/Portal/Portal.d.ts
  packages/components/src/Portal/Portal.js
  packages/components/src/Portal/Portal.spec.js
  packages/components/src/Portal/index.d.ts
  packages/components/src/Portal/index.js
  packages/components/src/index.d.ts
  packages/components/src/index.js
  yarn.lock
Labels: components, weight:1
